{% extends 'base.html.twig' %}

{% block title %}Nouveaux Arrivants!
{% endblock %}

{% block body %}
	<section
		class="home-section home-parallax home-fade" id="nouveaux_arrivants_mazerolles" data-background="{{ asset('images/about_bg.jpg') }}">
	</section>


	<section class="module" id="nouveaux_arrivants">

		<div class="container" id="nouveaux_arrivants">
			<div class="row" id="nouveaux_arrivants">
				<div class="col-sm-6 col-sm-offset-3">
					<h2 class="module-title font-alt" id="nouveaux_arrivants">VOUS VENEZ À MAZEROLLES?</h2>
                    <h5 class="module-title font-alt" id="nouveaux_arrivants">Soyez les bienvenus</h5>
					<div class="module-subtitle font-serif">Vous trouverez ci-dessous différentes démarches à effectuer et informations utiles.</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="alt-features-item">
						<div class="alt-features-icon" id="nouveaux">
                        <a href="#" target="_blank">
							<span class="icon-strategy"></span>
						</div>
						<h3 class="alt-features-title font-alt">Formulaire</h3>Pour que nous puissons vous inviter à la cérémonie d'accueil des nouveaux arrivants.
					</div>
					<div class="alt-features-item">
						<div class="alt-features-icon" id="nouveaux">
                        <a href="https://immatriculation.ants.gouv.fr/" target="_blank">
							<span class="icon-tools-2"></span>
						</div>
						<h3 class="alt-features-title font-alt">Certificat d'immatriculation</h3>Faire modifier son adresse sur son certificat d’immatriculation est obligatoire.La demande est à effectuer en ligne sur :<span id="immatriculation"> immatriculation ants gouv</span>.
					</div>
					<div class="alt-features-item">
						<div class="alt-features-icon" id="nouveaux">
                        <a href="https://www.service-public.fr/particuliers/vosdroits/R11193?interviewID=JeChangeDeCoordonnees" target="_blank">
							<span class="icon-target"></span>
						</div>
						<h3 class="alt-features-title font-alt">Changement d'adresse</h3>Informez rapidement les principaux organismes publics et privés de votre changement d’adresse postale.<br>Un service de changement d’adresse en ligne a été mis en place par le gouvernement. Il vous permet d’effectuer votre changement d’adresse auprès de plusieurs organismes en même temps.
					</div>
					<div class="alt-features-item">
						<div class="alt-features-icon" id="nouveaux">
                        <a href="#" target="_blank">
							<span class="icon-tools"></span>
						</div>
						<h3 class="alt-features-title font-alt">Inscription sur les listes électorales</h3>Pour pouvoir voter aux prochaines élections, rendez-vous à l’accueil de la Mairie avec un justificatif de domicile et une pièce d’identité.
					</div>
				</div>
				<div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
					<div class="alt-services-image align-center"><img src="{{ asset('images/promo.png') }}" alt="Feature Image" id="nouveaux_arrivants_image"></div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="alt-features-item">
						<div class="alt-features-icon" id="nouveaux">
                        <a href="#" target="_blank">
							<span class="icon-camera"></span>
						</div>
						<h3 class="alt-features-title font-alt">Marché des producteurs locaux</h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis sint quod ipsum voluptatibus amet magni in ipsam.
					</div>
					<div class="alt-features-item">
						<div class="alt-features-icon" id="nouveaux">
                        <a href="#" target="_blank">
							<span class="icon-mobile"></span>
						</div>
						<h3 class="alt-features-title font-alt">Professionnels de santé</h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem recusandae totam magni quaerat itaque sed quibusdam.
					</div>
					<div class="alt-features-item">
						<div class="alt-features-icon" id="nouveaux">
                        <a href="#" target="_blank">
							<span class="icon-linegraph"></span>
						</div>
						<h3 class="alt-features-title font-alt">Ecole</h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, dolorem deserunt? Doloremque odio vel quia impedit culpa iusto.
					</div>
					<div class="alt-features-item">
						<div class="alt-features-icon" id="nouveaux">
                        <a href="#" target="_blank">
							<span class="icon-basket"></span>
						</div>
						<h3 class="alt-features-title font-alt">Circuits de randonnée</h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur provident vel optio sapiente quod a, reprehenderit eos sint.
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
