<!-- IMAGES SLIDE PAGE HOME -->
<section class="home-section home-parallax home-fade" id="welcome-header">
	<div class="hero-slider">
		<ul class="slides">
			<li class="bg-dark-30 welcome-page-header bg-dark" style="background-image:url(&quot;{{ asset('images/restaurant/slider1.jpg') }}&quot;);">
				<div class="titan-caption">
					<div class="caption-content">
						<div class="font-alt mb-30 titan-title-size-1">Bonjour &amp; Bienvenue</div>
						<div class="font-alt mb-40 titan-title-size-4">Nous sommes à Mazerolles</div>
						<a class="section-scroll btn btn-border-w btn-round" href="#about">En savoir plus</a>
					</div>
				</div>
			</li>
			<li class="bg-dark-30 welcome-page-header bg-dark" style="background-image:url(&quot;{{ asset('images/restaurant/slider2.jpg') }}&quot;);">
				<div class="titan-caption">
					<div class="caption-content">
						<div class="font-alt mb-30 titan-title-size-2">Mazerolles est un village accueillant<br/>et dynamique.
						</div>
						<a class="btn btn-border-w btn-round" href="about">En savoir plus</a>
					</div>
				</div>
			</li>
			<li class="bg-dark-30 welcome-page-header bg-dark" style="background-image:url(&quot;{{ asset('images/restaurant/slider2.jpg') }}&quot;);">
				<div class="titan-caption">
					<div class="caption-content">
						<div class="font-alt mb-30 titan-title-size-1">Nous faisont en sorte que tous les habitants se sentent bien.</div>
						<div class="font-alt mb-40 titan-title-size-3">Pour le bien de tout le monde</div>
						<a class="section-scroll btn btn-border-w btn-round" href="#about">En savoir plus</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
<section class="col-12" id="acces-direct" style="text-align:center;align-item:center;">
	<div class="container-fluid">
		<header>
			<h3>Accès direct</h3>
		</header>
		<div class="row col-12" id="access-direct">
			<div class="col-md-2" id="acces-direct">
				<div class="card">
					<div class="card-header">
						<a href="#">

							<i class="fa fa-users"></i>
							<p>
								<span>Conseil municipal</span>
							</p>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-2" id="acces-direct">
				<div class="card">
					<div class="card-header">
						<a href="#">

							<i class="fa fa-home"></i>
							<p>
								<span>Nouveaux arrivants</span>
							</p>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-2" id="acces-direct">
				<div class="card">
					<div class="card-header">
						<a href="#">
							<i class="fa fa-trash-o"></i>
							<p>
								<span>Collecte des déchets</span>
							</p>
							<p></p>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-2" id="acces-direct">
				<div class="card">
					<div class="card-header">
						<a href="#">
							<i class="fa fa-cutlery"></i>
							<p>
								<span>Restauration municipale</span>
							</p>
							<p></p>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-2" id="acces-direct">
				<div class="card">
					<div class="card-header">
						<a href="#">
							<i class="fa fa-id-card"></i>
							<p>
								<span>Objets trouvés</span>
							</p>
							<p></p>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-2" id="acces-direct">
				<div class="card">
					<div class="card-header">
						<a href="#">
							<i class="fa fa-folder-open"></i>
							<p>
								<span>L&#039;affichage légal</span>
							</p>
							<p></p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
