
<!-- IMAGES SLIDE PAGE HOME -->
<section class="home-section home-parallax home-fade" id="home">
	<div class="hero-slider">
		<ul class="slides">
			<li class="bg-dark-30 welcome-page-header bg-dark" style="background-image:url(&quot;{{ asset('images/restaurant/slider1.jpg') }}&quot;);">
				<div class="titan-caption">
					<div class="caption-content">
						<div class="font-alt mb-30 titan-title-size-1">Bonjour &amp; Bienvenue</div>
						<div class="font-alt mb-40 titan-title-size-4">Nous sommes à Mazerolles</div>
						<a class="section-scroll btn btn-border-w btn-round" href="#about">En savoir plus</a>
					</div>
				</div>
			</li>
			<li class="bg-dark-30 welcome-page-header bg-dark" style="background-image:url(&quot;{{ asset('images/restaurant/slider2.jpg') }}&quot;);">
				<div class="titan-caption">
					<div class="caption-content">
						<div class="font-alt mb-30 titan-title-size-2">Mazerolles est un village accueillant<br/>et dynamique.
						</div>
						<a class="btn btn-border-w btn-round" href="about">En savoir plus</a>
					</div>
				</div>
			</li>
			<li class="bg-dark-30 welcome-page-header bg-dark" style="background-image:url(&quot;{{ asset('images/restaurant/slider2.jpg') }}&quot;);">
				<div class="titan-caption">
					<div class="caption-content">
						<div class="font-alt mb-30 titan-title-size-1">Nous faisont en sorte que tous les habitants se sentent bien.</div>
						<div class="font-alt mb-40 titan-title-size-3">Pour le bien de tout le monde</div>
						<a class="section-scroll btn btn-border-w btn-round" href="#about">En savoir plus</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>


	
