{% extends 'base.html.twig' %}

{% block title %}Pacs
{% endblock %}

{% block body %}
	<section class="home-section home-parallax home-fade" id="elections" data-background="{{ asset('images/landing/pacs-bg.jpg') }}"></section>

	<div class="main">
		<section class="module-medium" id="elections_mairie">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<h2 class="module-title font-alt">Mariage</h2>
						<div class="module-subtitle font-serif large-text">Les mariages sont célébrés exclusivement à la mairie, dans la salle du Conseil.
                        Avant de célébrer cette union, il faut constituer un dossier et le déposer en Mairie.</div>
						<div class="panel-group" id="accordion">
							<div class="module-subtitle font-serif large-text align-left">Célébration</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title font-alt">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#celebration1">Mariage en France</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="celebration1">
									<div class="panel-body">Vous pouvez vous marier que vous soyez un couple de sexe différent ou de même sexe. Vous devez remplir certaines conditions et déposer un dossier en mairie.
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title font-alt">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#celebration2">Mariage d'un français à l'étrager</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="celebration2">
									<div class="panel-body">Vous êtes français et vous souhaitez vous marier à l'étranger avec un Français ou avec une personne de nationalité étrangère ? Mieux vaut vous y prendre plusieurs mois à l'avance, car il faut du temps pour obtenir certains documents.

                                    Vous devez remplir les mêmes conditions que pour un mariage en France. D'autres conditions peuvent s'ajouter selon le pays où vous vous mariez. Après le mariage, vous devrez dans certains cas accomplir des démarches pour que votre union soit reconnue en France.
									</div>
								</div>
							</div>
						</div>
						<div class="panel-group" id="accordion">
							<div class="module-subtitle font-serif large-text align-left">Obligations des époux</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title font-alt">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#obligation1">Obligation alimentaire</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="obligation1">
									<div class="panel-body">En vous mariant, vous vous engagez à apporter une aide matérielle à votre époux ou épouse, si il/elle ne peut plus assurer sa subsistance. Vous vous engagez aussi à l'égard de vos beaux-parents. On parle d'une obligation alimentaire. Elle est toujours réciproque. Le montant de l'aide varie en fonction des ressources de celui qui la verse et des besoins de celui qui la demande.
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title font-alt">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#obligation2">Mariage d'un français à l'étrager</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="obligation2">
									<div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
						</div>
						<div class="panel-group" id="accordion">
							<div class="module-subtitle font-serif large-text align-left">Régime matrimonial</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title font-alt">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#regime1">Communauté réduite aucquêts</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="regime1">
									<div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title font-alt">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#regime2">Contrat de mariage</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="regime2">
									<div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
						</div>


						<hr class="divider-w mt-10 mb-20">


					</div>

				</div>

			</section>


		{% endblock %}
