{% extends 'base.html.twig' %}

{% block title %}Elections
{% endblock %}

{% block body %}
	<section class="home-section home-parallax home-fade" id="elections" data-background="{{ asset('images/landing/elections-bg.jpg') }}">

		
	</section>
	<div class="container" id="elections_mairie">
		<div class="row">
			<div class="col-md-8 col-md-offset-2"><img class="img-responsive banner-img" src="{{ asset('images/landing/elections.jpg') }}"></div>
		</div>
	</div>
	<div class="main">
		<section class="module-medium" id="elections_mairie">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<h2 class="module-title font-alt">Elections</h2>
						<div class="module-subtitle font-serif large-text">Réforme de la gestion des listes électorales</div>

							<blockquote>À compter du 1er janvier 2019, les modalités d’inscription sur les listes électorales de la commune changent avec la création du Répertoire Electoral Unique (REU) dont la gestion est confiée à l’INSEE.</p><br><br>

                            <div class="module-subtitle font-serif large-text">L'inscription sur les listes électorales</div>

							L'inscription sur les listes électorales est obligatoire pour pouvoir voter.<br>
                            <div class="module-subtitle font-serif text align-left h2" id="elections">Quand ?</div>

							À partir de 2020, l’inscription sera possible jusqu’au 6ème vendredi précédant le scrutin.
                            Chaque électeur se verra attribuer à vie un identifiant national d’électeur : de nouvelles cartes électorales seront donc éditées en 2019.<br>
                            <div class="module-subtitle font-serif text align-left" id="elections">Ou ?</div>

							Il y a deux façons de s'inscrire : <br>
                            <a href="#">
                            <div class="module-subtitle font-serif text align-left" id="elections">Inscription en ligne avec service-public.fr</div>
                            </a>
                            L'inscription est plus simple, plus rapide et sans perte de temps car elle évite un déplacement en mairie.<br>
                            La démarche à suivre est très simple, gratuite et entièrement sécurisée :<br>
                            Il suffit de créer son compte en quelques clics.<br>
                            Vous pourrez ensuite accéder à "Inscription sur les listes électorales" et remplir le formulaire.<br><br>

							Afin de procéder à l'inscription sur les listes électorales, il est nécessaire de numériser les pièces justificatives suivantes :<br>
                            <li>Un titre d'identité en cours de validité : carte nationale d'identité ou passeport en cours de validité ou périmés depuis moins de cinq ans.</li>
                            <li>Un justificatif de domicile de moins de 3 mois établi à vos noms et prénoms, de préférence facture d'électricité, de gaz, de téléphone, bulletin de salaire, titre de pension, attestation d'assurance habitation, quittance de loyer non manuscrite.</li><br>

                            <div class="module-subtitle font-serif text align-left" id="elections">Inscription en mairie</div>
                            Vous pouvez vous inscrire toute l'année aux heures d'ouverture de la mairie.<br>
                            Pour les personnes ne pouvant se déplacer (notamment les malades, personnes handicapés), les demandes d'inscription peuvent être effectuées par correspondance, de préférence sous pli recommandé.<br>
                            Les demandes peuvent également être déposées par un tiers dûment mandaté avec les mêmes pièces justificatives.<br>

                            <div class="module-subtitle font-serif text align-left" id="elections">Pièces à apporter en mairie :</div>
                            <li>Un titre d'identité en cours de validité : carte nationale d'identité ou passeport valides ou périmés depuis moins de cinq ans.</li>
                            <li>Un justificatif de domicile de moins de 3 mois établi à vos nom et prénom, de préférence facture d'électricité, de gaz ou de téléphone, bulletin de salaire, titre de pension, attestation d'assurance habitation, quittance de loyer non manuscrite.</li><br>

                            <div class="module-subtitle font-serif text align-left" id="elections">Quelles sont les conditions ?</div>
                            Vous pouvez vous inscrire si vous remplissez les conditions suivantes :<br>
                            <li>Être âgé d'au moins 18 ans.</li>
                            <li>Être de nationalité française (les citoyens européens résidant en France peuvent s'inscrire sur les listes complémentaires mais seulement pour participer aux élections municipales et/ou européennes).</li>
                            <li>Jouir de vos droits civils et politiques.</li><br>
                            <div class="module-subtitle font-serif text align-left" id="elections">Remaques :</div>
                            <li>Les jeunes, jusqu’à 26 ans, pourront s’inscrire sur la liste électorale du domicile de leurs parents.</li>
                            <li>Les jeunes qui atteignent leur majorité entre deux tours d’un scrutin pourront voter au 2ème tour.</li>
                            <li>Les électeurs contribuables pourront s’inscrire dès la 2ème année d’inscription au rôle d’une des contributions directes communales (au lieu de 5 ans).</li>
                            <li>Les gérants et associés majoritaires d’une société pourront s’inscrire sur la liste électorale de la commune d’implantation de la société.Il ne sera plus possible d’être inscrit simultanément sur une liste électorale communale et sur une liste électorale consulaire.</li>
                            <li>Les électeurs bénéficiant de cette double inscription seront informés par le ministère des Affaires Étrangères, et devront choisir leur liste d’inscription (communale ou consulaire). À défaut d’un tel choix, les électeurs seront radiés des listes communales.</li>
                            <li>Les personnes âgées de dix-huit ans et celles ayant acquis la nationalité française sont inscrites d'office dans leur commune de domicile par l'I.N.S.E.E.</li>
						</blockquote>
					</div>
				</div>
			</div>
		</section>

	{% endblock %}

