{% extends 'base.html.twig' %}

{% block title %}Fonctionnement!
{% endblock %}

{% block body %}
	<section class="home-section home-parallax home-fade" id="fonctionnement" data-background="{{ asset('images/landing/landing_bg.jpg') }}">
		<div class="titan-caption">
			<div class="caption-content">
				<div class="container">
					<div class="font-alt mb-30 titan-title-size-4">Le conseil municipal</div>
					<div class="font-alt">Voici quelques explications sur sa composition<br>et son fonctionnement</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container" id="conseil_municipal_fonctionnement">
		<div class="row">
			<div class="col-md-8 col-md-offset-2"><img class="img-responsive banner-img" src="{{ asset('images/landing/conseilMunicipalBleuBlancRouge.jpg') }}"></div>
		</div>
	</div>
	<div class="main">
		<section class="module-medium" id="conseil_municipal_fonctionnement">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<h2 class="module-title font-alt">Conseil municipal de Mazerolles</h2>
						<div class="module-subtitle font-serif large-text">Le Conseil municipal est composé de 15 membres élus au suffrage universel direct lors des élections municipales. Ils représentent les habitants et leur mandat est d’une durée de six ans.<br><br>

							Depuis la loi de 1884, ses attributions l’amènent à régler par ses délibérations les affaires de la commune, dans divers domaines de compétence.<br><br>

							Depuis la loi de 1884, ses attributions l’amènent à régler par ses délibérations les affaires de la commune, dans divers domaines de compétence.<br><br>

							Le conseil municipal émet un avis chaque fois qu’il est requis par les textes ou le représentant de l’État.
							                    Il formule des vœux sur tous les sujets d’intérêt local : il vote le budget, il approuve le compte administratif (budget exécuté).<br>
							Il est compétent pour créer des services publics municipaux, pour décider des travaux, pour gérer le patrimoine communal …<br><br>

							Le conseil municipal exerce ses compétences en adoptant des délibérations.<br>
							Il peut former des commissions disposant d’un pouvoir d’étude des dossiers.<br><br>

							Le conseil municipal doit se réunir au moins une fois par trimestre et l’ordre du jour, fixé par le maire, doit être communiqué avant le début de la séance. Celle-ci est ouverte au public sauf si l’assemblée décide le huis clos, ou si le maire exerce son pouvoir de "police des séances", notamment en cas d’agitation, et restreint l’accès du public aux débats.<br><br>

							Le conseil municipal ne peut délibérer que lorsque la majorité de ses membres en exercice assiste à la réunion. Dans le cas où le quorum ne serait pas atteint, une seconde séance est convoquée, et le conseil peut alors délibérer quel que soit le nombre de membres présents.


						</div>
					</div>
				</div>
			</div>
		</section>

	{% endblock %}
